<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>login</title>
</head>
<body>
<%if (typeof(msg) !== 'undefined'){%>
	<h1><%=msg%></h1>
<%} %>
<form action="/login" method="post" accept-charset="utf-8">
		<input type="text" name="account">
		<br>
		<input type="text" name="password">
		<br>
		<input type="submit" value="提交">
</form>
</body>
</html>